main {
    .wrapper {
        .carta {
            @include flex-col;
            align-items: center;

            &.carta-entradas {
                background-image: url('../../images/Blueberry.png');
                background-position: top right;
                background-size: 25% auto;
                background-repeat: no-repeat;
            }

            &.carta-jugos-bebidas {
                background-image: url('../../images/avocado.png');
                background-position: top center;
                background-size: 16% auto;
                background-repeat: no-repeat;
            }

            &:last-child {
                margin-bottom: 2rem;
            }

            h2 {
                font-size: $font108px;
                font-weight: 700;
                line-height: 120px;
            }

            p {
                font-size: $font24px;
                line-height: 140%;
                font-style: normal;
                font-weight: 400;
            }

            .listado-menu {
                .item-lista {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 40px;
                    grid-row-gap: 50px;
    
                    .item-img {
                        img {
                            object-fit: cover;
                            width: 42vw;
                            height: 350px;
                            -moz-box-shadow: 0px 0px 5px 1px rgb(87 87 87 / 50%);
                            box-shadow: 0px 0px 5px 1px rgb(87 87 87 / 50%);
                            border-radius: 5px;
                        }
                    }
    
                    .item-info {
                        .item-price {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                            border-bottom: 3px dotted;
                            font-style: normal;
                            font-weight: 700;
                            font-size: $font48px;
                            line-height: 64px;
                        }
                        .item-name {
                            font-style: normal;
                            font-weight: 700;
                            font-size: $font68px;
                            line-height: 84px;
                        }
                        .item-description {
                            font-style: normal;
                            font-weight: 400;
                            font-size: $font24px;
                            line-height: 140%;
                        }
                    }
                }

                .show-more {
                    display: flex;
                    justify-content: flex-end;
                    animation-duration: 5s;
                   
                    button.btn {
                        font-size: $font46px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 64px;
                        letter-spacing: 0.02em;
                        border: 1px solid $color-black;
                        padding: 0.2rem 2rem;

                        &:hover {
                            color: $secondary-color-hover;
                            border: 1px solid $secondary-color-hover;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}