@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin btn-primary {
    color: $color-white;
    border: $border-1px-solid-white;
}

@mixin rufina {
    font-family: 'Rufina';
}

@mixin color-secondary {
    color: $secondary-color;

    :hover {
        color: $secondary-color-hover;
    }
}

@mixin boton-primary {
    font-size: $font46px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.02em;
    border: 1px solid $color-black;
    padding: 0.2rem 2rem;

    &:hover {
        color: $secondary-color-hover;
        border: 1px solid $secondary-color-hover;
    }
    &:focus {
        box-shadow: none;
    }
}
