$primary-color: #ffbe33;
$primary-color-hover: #e69c00;
$secondary-color: #f22222;
$secondary-color-hover: #F24822;
$color-white: #ffffff;
$color-black: #000;
$bg-header: #100f0ff7;
$bg-footer: #100f0f;

$border-1px-solid-white: 1px solid $color-white;
$border-2px-solid-white: 2px solid $color-white; 

$font148px: 9.25rem;
$font108px: 6.75rem;
$font68px: 4.25rem;
$font48px: 3rem;
$font32px: 2rem;
$font26px: 1.625rem;
$font24px: 1.5rem;


$margen-seguro: 6rem !important;

