@import 'variables';
@import '_reset';
@import '_mixins';

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

header {
    min-height: 10vh;
    width: 100%;
    position: fixed;
    transition: background 0.7s, box-shadow 0.7s;

    &.scroll-active {
        z-index: 9;
        padding-bottom: 2rem !important;
        background-color: $bg-header;
        -webkit-box-shadow: 0px 2px 5px 0px rgb(199 199 199 / 30%); 
        box-shadow: 0px 2px 5px 0px rgb(199 199 199 / 30%);

        .mt-4 {
            margin-top: 0!important;
        }

        a.logo {
            &::before {
                top: 13px;
            }
    
            &::after {
                top: 90px;
            }
        }
    }

    a.logo {
        @include flex-col;
        align-items: center;
        min-width: 307px;

        &::before, &::after {
            content: '';
            border-left: $border-2px-solid-white;
            border-right: $border-2px-solid-white;
            height: 22px;
            width: 196px;
            position: absolute;
        }
        &::before {
            border-top: $border-2px-solid-white;
            top: 38px;
        }

        &::after {
            border-bottom: $border-2px-solid-white;
            top: 117px;
        }
    }

    .nav-menu {
        position: relative;
        bottom: -6px;
    }

    .btn {
        padding: .8rem 2rem;
        font-size: $font26px;
        color: $color-white;

        &:hover {
            color: $primary-color-hover !important;
        }

        &.button-primary {
            @include btn-primary;
            border-radius: 0;

            &:hover {
                border: 1px solid $primary-color-hover;
            }
        }
    }
}
// desktop min 1024px
@media (min-width: 64rem) {
    header.header {
        padding-inline: 6rem !important;
    }
}

main {
    .wrapper {
        .banner-principal {
            background-image: url('../../images/banner-principal.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 67.5rem;

            .texto-banner {
                &:first-child {
                    position: relative;
                    top: 20rem;

                    .banner-llamado {
                        padding-left: 8rem;

                        h2 {
                            font-size: $font148px;
                        }

                        p {
                            @include rufina;
                            font-size: $font32px;
                        }
                    }
                }
                &:last-child {
                    position: relative;
                    top: 30rem;
                    width: 100%;
                    padding-right: 6.5rem;

                    .horarios {
                        width: 43.75rem;
                        @include flex-row;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 3px dotted;

                        strong {
                            @include rufina;
                            font-size: $font32px;
                        }
                        span {
                            font-size: $font26px;
                        }
                    }

                    .horarios-comidas {
                        width: 43.75rem;
                        @include flex-row;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 0;

                        li {
                            @include flex-col;
                            font-size: $font24px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    @include flex-center;
    min-height: 10vh;
    width: 100%;
    background: $bg-footer;
    color: $color-white;
}