@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
div,
* {
  font-family: "Lato", "Rufina", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Rufina", "Dancing Script", cursive;
}

p {
  padding-bottom: 0.5em;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0;
}

html,
body {
  font-size: 16px;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  min-height: 10vh;
  width: 100%;
  position: fixed;
  transition: background 0.7s, box-shadow 0.7s;
  z-index: 9;
}
header.scroll-active {
  padding-bottom: 2rem !important;
  background-color: rgba(16, 15, 15, 0.968627451);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(199, 199, 199, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(199, 199, 199, 0.3);
}
header.scroll-active .mt-4 {
  margin-top: 0 !important;
}
header.scroll-active a.logo::before {
  top: 13px;
}
header.scroll-active a.logo::after {
  top: 90px;
}
header a.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 307px;
}
header a.logo::before, header a.logo::after {
  content: "";
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  height: 22px;
  width: 196px;
  position: absolute;
}
header a.logo::before {
  border-top: 2px solid #ffffff;
  top: 38px;
}
header a.logo::after {
  border-bottom: 2px solid #ffffff;
  top: 117px;
}
header .nav-menu .hamburger {
  position: relative;
  z-index: 11;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
header .nav-menu .hamburger:hover ._layer {
  height: 4px;
  margin-bottom: 6px;
}
header .nav-menu .hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
header .nav-menu .hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
header .nav-menu .hamburger.is-active ._layer {
  height: 4px;
  margin-bottom: 6px;
}
header .nav-menu .hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
header .nav-menu .hamburger.is-active .-mid {
  opacity: 0;
}
header .nav-menu .hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}
header .nav-menu .hamburger.is-active:hover ._layer {
  background: red;
}
header .nav-menu .hamburger ._layer {
  background: #ffffff;
  margin-bottom: 8px;
  border-radius: 2px;
  width: 30px;
  height: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
header .nav-menu .menuppal {
  display: none;
}
header .nav-menu .menuppal.is_active {
  display: block;
  position: absolute;
  width: 18rem;
  z-index: 12;
  transform: translate3d(-30px, 0px, 0px);
  background-color: rgba(255, 255, 255, 0.98);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  -webkit-box-shadow: 0px 6px 10px 1px #000;
  box-shadow: 0px 6px 10px 1px #000;
  border: 1px solid #ffbe33;
  border-radius: 3px;
}
header .nav-menu .menuppal.is_active ul {
  margin: 0;
  padding: 0;
}
header .nav-menu .menuppal.is_active ul li {
  list-style: none;
  text-align: center;
  color: #000;
  font-size: 1.3rem;
  text-transform: none;
  font-weight: bold;
}
header .nav-menu .menuppal.is_active ul li a {
  color: #000 !important;
}
header .nav-menu .menuppal.is_active ul li a:hover {
  color: #e69c00 !important;
}
header .btn {
  padding: 0.8rem 2rem;
  font-size: 1.625rem;
  color: #ffffff;
}
header .btn:hover {
  color: #e69c00 !important;
}
header .btn.button-primary {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
}
header .btn.button-primary:hover {
  border: 1px solid #e69c00;
}

@media screen and (min-width: 64rem) {
  header.header {
    padding-inline: 6rem !important;
  }
}
footer {
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  background: #100f0f;
  color: #ffffff;
}

main .wrapper .banner-principal {
  background-image: url("../../images/banner-principal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 67.5rem;
}
main .wrapper .banner-principal .texto-banner:first-child {
  position: relative;
  top: 20rem;
}
main .wrapper .banner-principal .texto-banner:first-child .banner-llamado {
  padding-left: 8rem;
}
main .wrapper .banner-principal .texto-banner:first-child .banner-llamado h2 {
  font-size: 9.25rem;
  font-weight: 700;
  line-height: 152px;
}
main .wrapper .banner-principal .texto-banner:first-child .banner-llamado p {
  font-family: "Rufina";
  font-size: 2rem;
  font-weight: 700;
  line-height: 48px;
}
main .wrapper .banner-principal .texto-banner:last-child {
  position: relative;
  top: 31rem;
  width: 100%;
  padding-right: 6.5rem;
}
main .wrapper .banner-principal .texto-banner:last-child .horarios {
  width: 38.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dotted;
}
main .wrapper .banner-principal .texto-banner:last-child .horarios strong {
  font-family: "Rufina";
  font-size: 2rem;
}
main .wrapper .banner-principal .texto-banner:last-child .horarios span {
  font-size: 1.625rem;
}
main .wrapper .banner-principal .texto-banner:last-child .horarios-comidas {
  width: 38.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
main .wrapper .banner-principal .texto-banner:last-child .horarios-comidas li {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
main .wrapper .carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 6rem !important;
}
main .wrapper .carta.carta-entradas {
  background-image: url("../../images/Blueberry.png");
  background-position: top right;
  background-size: 25% auto;
  background-repeat: no-repeat;
}
main .wrapper .carta.carta-jugos-bebidas {
  background-image: url("../../images/avocado.png");
  background-position: top center;
  background-size: 16% auto;
  background-repeat: no-repeat;
}
main .wrapper .carta h2 {
  font-size: 6.75rem;
  font-weight: 700;
  line-height: 120px;
}
main .wrapper .carta p {
  font-size: 1.5rem;
  line-height: 140%;
  font-style: normal;
  font-weight: 400;
}
main .wrapper .carta .listado-menu .item-lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
}
main .wrapper .carta .listado-menu .item-lista .item-img img {
  object-fit: cover;
  width: 42vw;
  height: 350px;
}
main .wrapper .carta .listado-menu .item-lista .item-info .item-price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px dotted;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 64px;
}
main .wrapper .carta .listado-menu .item-lista .item-info .item-name {
  font-style: normal;
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 84px;
}
main .wrapper .carta .listado-menu .item-lista .item-info .item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

/*# sourceMappingURL=custom.css.map */
